.el-table {
  font-size: 12px;
}
.el-table .cell,.el-table th>.cell{
  min-height:30px;
  line-height:15px;
  display:flex;
  align-items:center;
}
.el-table td, .el-table th{
  padding:3px 0;
}
.el-table th{
  background-color:#e6eaec;
}
.el-table thead {
  color: #222;
}
.el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed{
  border-right: 1px solid #e6eaec;
}
.el-table__body tr.current-row>td{
  position:relative;
}
.el-table__body tr.current-row>td:first-child{
  border-left-width:1px;
  border-left-style:solid;
}
.el-table__body tr.current-row>td{
  border-right-color:#c4d2f4;
}
.el-table__body tr.current-row>td:last-child >.cell:after{
  content:'';
  position:absolute;
  height:100%;
  border-right-width:1px;
  border-right-style:solid;
  top:0;
  right:0;
}
.el-table__body tr.current-row>td:before{
  content:'';
  position:absolute;
  width:100%;
  border-top-width:1px;
  border-top-style:solid;
  top:0;
  left:0;
}
.el-table__body tr.current-row>td:after{
  content:'';
  position:absolute;
  width:100%;
  border-top-width:1px;
  border-top-style:solid;
  bottom:0;
  left:0;
}
.el-table{
  margin-bottom:10px;
  .el-button{
    height:24px;
    line-height:24px;
    padding:0 5px;
  }
  .el-button--primary{
    background-color:#4b91d6;
    border:none;
  }
  .el-button--primary:focus, .el-button--primary:hover{
    background: #2e7ac7;
    border-color: #2e7ac7;
    color: #FFF;
  }
}
.el-pagination{
  display:flex;
  justify-content: center;
}
.el-button.is-plain{
  border-color:#959595;
  color:#959595;
}
.el-button.is-plain:hover,.el-button.is-plain:focus{
  border-color:#333;
  color:#333;
}
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
  border:1px solid #DDD;
  margin:0;
  border-radius:0;
  border-right:none;
  background-color:#FFF;
}
.el-pagination.is-background .btn-next{
  border-right:1px solid #DDD;
}
.el-pagination.is-background .el-pager li:not(.disabled).active{
  color:#606266;
  border-right:1px solid;
  +li{
    border-left:none;
  }
}
.el-submenu__title{
  height:50px;
  transition:none;
}
.el-submenu .el-menu-item{
  height:30px;
  line-height:30px;
  font-size:12px;
  background-color:#32353c!important;
  transition:none;
  color:#FFF!important;
}
.el-submenu__title:hover,.el-submenu .el-menu-item:hover{
  background-color:#41454e!important;
  color:#FFF!important;
}
.el-submenu{
  position:relative;
}
.el-submenu.is-opened:after,.el-submenu:hover:after{
  display:none;
}
.el-submenu:after{
  $width:114px;
  content:'';
  width:$width;
  height:1px;
  background-color:#333333;
  border-top:1px solid #222222;
  position: absolute;
  bottom:0;
  left: 50%;
  margin-left: -$width/2 - 6px;
  z-index:1;
}
.el-submenu__icon-arrow{
  margin-top:-2px;
  right:30px;
}
.el-radio__label{
  padding-left:5px;
}
.el-tag {
  height: 22px;
  line-height: 20px;
}
.el-dialog {
  width: 460px;
  .el-dialog__header {
    background-color: #F8F8F8;
    border: 1px solid #E0E4E7;
    padding: 8px 10px;
    .el-dialog__title {
      color: #1B1B1B;
      font-weight: bold;
      font-size: 12px;
    }
    .el-dialog__headerbtn {
      top: 10px;
      right: 10px;
    }
  }
  .el-dialog__body {
    padding:20px 20px 10px;
  }
  .el-dialog__footer {
    text-align: center;
  }
  .dialog-radio {
    height: 30px;
    line-height: 30px;
    border-radius: 0 4px 4px 0;
    border: 1px solid #E0E4E7;
    box-sizing: border-box;
    padding: 0 20px;
  }
}
.el-form {
  .el-form-item {
    margin-bottom: 20px;
  }
  .is-disabled .el-form-item__label {
    background-color: #FAFAFA;
    border-color: #F1F1F1;
    color: #999;
  }
  .el-form-item__label{
    vertical-align: middle;
    display: table-cell;
    position: relative;
    border-radius: 4px 0 0 4px;
    padding: 0 20px;
    white-space: nowrap;
    color: #222;
    background-color: #FAFAFA;
    border-left: 1px solid #E4E4E4;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    text-align: center;
  }
  .el-form-item__content {
    line-height: 30px;
  }
  .el-input {
    .el-input__inner {
      width: 100%;
      color: #222;
      height: 30px;
      line-height: 30px;
      border: 1px solid #E4E4E4;
      border-radius: 0 4px 4px 0;
      transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .el-input__icon {
      line-height: 30px;
    }
  }
  .el-input.is-disabled .el-input__inner {
    background-color: #FAFAFA;
    border-color: #F1F1F1;
    color: #999;
  }
  .el-select {
    width: 100%;
  }
  .el-form-item.is-error .el-input__inner, .el-form-item.is-error .el-input__inner:focus, .el-form-item.is-error .el-textarea__inner, .el-form-item.is-error .el-textarea__inner:focus, .el-message-box__input input.invalid, .el-message-box__input input.invalid:focus {
    border-color: #F56C6C;
  }
}
.el-message-box {
  border: none;
  border-radius: inherit;
  width: 324px;
  text-align: center;
  .el-message-box__header {
    text-align: left;
    background-color: #F8F8F8;
    border: 1px solid #E0E4E7;
    padding: 8px 10px;
    .el-message-box__title {
      color: #1B1B1B;
      font-weight: bold;
      font-size: 12px;
      line-height: 24px;
    }
    .el-message-box__headerbtn {
      top: 10px;
      right: 10px;
    }
  }
  .el-message-box__content {
    padding: 40px 20px 50px;
  }
  .el-message-box__btns {
    text-align: center;
    padding: 20px 0 10px;
    overflow: hidden;
    display: inline-block;
    .cancel {
      float: right;
      font-family: element-icons!important;
    }
    .cancel:before {
      content: "\E6DB";
    }
    .confirm {
      font-family: element-icons!important;
      float: left;
      margin-left: 0;
      margin-right: 10px;
    }
    .confirm:before {
      content: "\E6DA";
    }
  }
}
.el-input-number{
  line-height:30px;
  width:100%;
}
.el-input-number.is-controls-right .el-input-number__decrease, .el-input-number.is-controls-right .el-input-number__increase{
  line-height:15px;
}
.el-input-number__decrease, .el-input-number__increase{
  width:18px;
}
.el-input-number.is-controls-right .el-input__inner{
  padding-right:20px;
}
.el-button--mini{
  height:30px;
}
.el-range-editor--small.el-input__inner{
  height:30px;
}
.el-message-box .el-message-box__content{
  padding:40px 20px 0;
}
[disabled="disabled"] .el-form-item__label{
  color: #999;
  border-color:#F1F1F1;
  cursor: not-allowed;
}
.el-form .el-form-item[type="switch"] .el-form-item__label{
  background-color:transparent;
  border:none;
}
.el-popover {
  min-width: 60px;
}